body{
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
}  

.card{
    margin: 5% 30% 0px;
    border: 2px solid rgb(0, 255, 242);
    border-radius: 8px;
    box-shadow: 0 8px 12px 0 rgb(0, 255, 242);
} 

.card p{
    text-align: center;
    padding: 6px;
    font-size: 60px;
    color: rgb(0, 255, 242);
    font-style: italic;
}
#passbox{
    margin-left: 10%;
    width: 80%;
    background-color: transparent;
    border: 2px solid rgb(0, 255, 242);
    border-radius: 3px;
    height: 30px;
    margin-top: 100px;
}
#btn{
    padding: 8px 16px;
    background-color: rgb(0, 255, 242);
    color: #333;
    border: 2px solid rgb(0, 255, 242);
    text-align: center;
    margin-left: 10%;
    width: 81.5%;
    border-radius: 2px;
    margin: 10% 10% 20%;
    font-weight: bolder;
    letter-spacing: 5px;
    transition: .6s;
}
#btn:hover{
    background-color: #333;
    color: rgb(0, 255, 242);
    cursor: pointer;
    
}
@media screen and (max-width: 800px){
    .card{
        margin: 5% 10% 0px;
        transition: .8s;
    } 
    .card:hover{
        box-shadow: 0 11px 15px 0 rgb(0, 225, 255);
    }
    #btn{
        letter-spacing: 1px;
    }
    .sidenav{
      display: none;
    }
    #myBtn{
      left: 80%;
    }
    #ibar{
      visibility: visible;
    }
    .sidenav2{
      display: none;
    }
    #t1{
      max-width: 10%;
    }
    #myBtn{
      max-width: 10%;
    }
    
}
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: rgb(66, 66, 66); /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  .sidenav{
    background-color: rgb(59, 59, 59);
    width: 80px;
    height: 110vh;
    margin-top: -8%;
    position: fixed;
    box-shadow: 0px 8px 20px 0px rgba(0, 255, 242, 0.5);
  }
  .sidenav ul  {
    margin-top: 100px;
  }
  .sidenav ul li {
    display: block;
    margin-bottom: 60px;
  }
  .sidenav ul li a{
    text-decoration: none;
    color: rgb(0, 255, 242);
    font-size: 40px;
    margin-left: -10px;
    
  }
  .blog{
    margin: 10%;
    margin-top: 5%;
    max-width: 700px;
  }
  .blog .post{
    margin-left: 5%;
    max-width: 90%;
    border: 2px solid rgb(0, 255, 242) ;
    padding: 3% 8%;
    margin-bottom: 14%;
    border-radius: 3px;
  }
  .sidenav2{
    margin-left: 75%;
    background-color: rgb(54, 54, 54);
    border: 2px solid rgb(0, 255, 242);
    height: 150vh;
    margin-top: -146%;
    position: fixed;
    box-shadow: 0px 8px 20px 0px rgba(0, 255, 242, 0.315);
  }
  #myBtn {
    
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 350px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    border: 2px solid rgba(0, 255, 242, 0.541);
    background-color: #333; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    box-shadow: 0px 8px 20px 0px rgba(0, 255, 242, 0.315);
    transition: .3s;
  }
  
  #myBtn:hover {
    background-color: #333; /* Add a dark-grey background on hover */
    box-shadow: 0px 12px 25px 0px rgba(0, 255, 242, 0.486);
  }
  #cr{ 
    margin-top: 98%;
    padding: 20px;
    font-size: 10px;
    margin-left: 80px;
  }
  .icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: #333;
    box-shadow: 0px 3px 8px 0px rgb(0, 255, 242);
    text-decoration: none;
    visibility: hidden;
  }
  
  /* Style the icon bar links */
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: rgb(0, 255, 242);
    font-size: 20px;
  }
  
  /* Style the social media icons with color, if you want */
  .icon-bar a:hover {
    background-color: #333;
    box-shadow: 0px 12px 16px 0px rgb(0, 255, 242);
    text-decoration: none;
  }
  
  .facebook {
    background: #333;
    color: rgb(0, 255, 242);
    text-decoration: none;
  }
  
  .twitter {
    background: #333;
    color: rgb(0, 255, 242);
    text-decoration: none;
  }
  
  .google {
    background: #333;
    color: rgb(0, 255, 242);
    text-decoration: none;
  }
  .overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color:  rgb(0, 255, 242);
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color:  rgb(0, 255, 242);
    box-shadow: 0px 0px 100px 0px rgba(0, 255, 242, 0.178);
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }

  
  
  
  
  